$core-splash-bgsize: 100vmax !default;
$core-splash-spinner-color: $core-init-screen-spinner-color !default;
$core-splash-bgcolor: $core-color-init-screen !default;

ion-app.app-root page-core-login-init {
    .scroll-content {
        background: $core-splash-bgcolor; /* Change this to add a bg image or change color */
        overflow: hidden;
        position: absolute;
        @include position(0, 0, 0, 0);
        height: 100%;
        width: 100%;
        display: table;
    }
    .core-bglogo {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        background-image: url("#{$assets-path}/img/splash.png");
        background-repeat: no-repeat;
        background-size: 100%;
        //background-size: $core-splash-bgsize;
        background-position: center;
        width: 100%;
        height: 100%;

        .spinner circle, .spinner line {
            stroke: $core-splash-spinner-color;
        }
    }
}
